Repository ode233/TailBased-Sampling: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_java_package, build_image

build_java_package:
  stage: build_java_package
  script:
  - sudo mvn clean package
  tags:
  - nscc

build_image:
  stage: build_image
  script:
  - sudo cp -f target/tailbaseSampling-1.0-SNAPSHOT.jar dockerfile/tailbaseSampling-1.0-SNAPSHOT.jar
  - sudo docker build -t registry.tbocii.tk:8000/ody123/java-tail-based-sampling dockerfile/
  - sudo docker push registry.tbocii.tk:8000/ody123/java-tail-based-sampling
  tags:
  ...

gitlab ci
  dockerfile/Dockerfile
Due: build_image

gitlab ci
  .gitlab-ci.yml
Due: build_java_package, build_image

gitlab ci
  .gitignore
Due: none

多线程
  .idea/dictionaries/51954.xml
  src/main/java/com/alibaba/tailbase/backendprocess/BackendController.java
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/backendprocess/TraceIdBatch.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientController.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

错误：2线程 线程2一种打印1
  src/main/java/com/alibaba/tailbase/Constants.java
  src/main/java/com/alibaba/tailbase/backendprocess/BackendController.java
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/backendprocess/TraceIdBatch.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientController.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

400m跑通
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/backendprocess/TraceIdBatch.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

update base
  .gitlab-ci.yml
  docker-compose.yml
  pom.xml
Due: build_java_package, build_image

限制内存使用大小
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

限制内存使用大小
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
Due: build_java_package, build_image

线程同步处理
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

增强拼接处代码判定，优化
  src/main/java/com/alibaba/tailbase/backendprocess/BackendController.java
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/backendprocess/TraceIdBatch.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientController.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

增强拼接处代码判定，优化
  .gitignore
Due: none

增强拼接处代码判定，优化
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

加锁
  docker-compose.yml
  src/main/java/com/alibaba/tailbase/backendprocess/TraceIdBatch.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

加锁
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
Due: build_java_package, build_image

去锁
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/backendprocess/TraceIdBatch.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

去锁
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

正确加锁
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

fix bug
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
Due: build_java_package, build_image

去logger
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

修复可能的异步bug，最后整合加锁、提前建立数据结构。
  src/main/java/com/alibaba/tailbase/backendprocess/BackendController.java
  src/main/java/com/alibaba/tailbase/backendprocess/BackendProcessData.java
  src/main/java/com/alibaba/tailbase/backendprocess/TraceIdBatch.java
  src/main/java/com/alibaba/tailbase/clientprocess/ClientProcessData.java
Due: build_java_package, build_image

update
  .gitlab-ci.yml
  README.md
Due: build_java_package, build_image

update
  docker-compose.yml
  dockerfile/Dockerfile
Due: build_image

update
  README.md
  flow-chart.png
Due: none

update
  README.md
  pom.xml
  src/main/java/com/alibaba/tailbase/CommonController.java
  src/main/resources/application.properties
Due: build_java_package, build_image

Path conditions:
  build_java_package: any of: .gitlab-ci.yml, src/**/*
  build_image: any of: .gitlab-ci.yml, dockerfile/**/*, src/**/*
